**/dist/
**/browser/
**/coverage/
**/node_modules/
**/script/
**/spec/
**/vendor/
**/*.d.ts
**/views/
**/src/routes/
**/*.test.*
**/packages/irc2as/
**/packages/platform-feeds/
**/packages/streams.js/
packages/platform-irc
packages/platform-xmpp/**/*.test.*
packages/schemas/schemas/activity-object.js
packages/schemas/schemas/activity-stream.js
