**/dist/
**/browser/
**/coverage/
**/node_modules/
**/script/
**/spec/
**/vendor/
**/*_test.go
**/*.d.ts
**/views/
**/src/routes/
**/*.test.*
**/packages/irc2as/
**/packages/sockethub-platform-feeds/
**/packages/activity-streams.js/
**/packages/sockethub-platform-irc/
packages/sockethub-platform-xmpp/**/*.test.*
packages/sockethub-schemas/schemas/activity-object.js
packages/sockethub-schemas/schemas/activity-stream.js
