{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": false
        }
    },
    "rules": {
        "comma-spacing": [2, { "before": false, "after": true }],
        "eqeqeq": 2,
        "handle-callback-err": 2,
        "indent": [2, 2, { "SwitchCase": 1, "VariableDeclarator": { "var": 2, "let": 2, "const": 3 }}],
        "keyword-spacing": 2,
        "max-len": [2, { "code": 99 }],
        "no-eq-null": 2,
        "no-eval": 2,
        "no-tabs": 2,
        "no-var": 2,
        "quotes": [2, "single", { "allowTemplateLiterals": true }],
        "semi": 2,
        "space-before-blocks": 2,
        "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}]
    }
}