dist
build
coverage
node_modules
**/*.d.ts
**/*.test.*
packages/server/views/examples/
packages/irc2as/
packages/platform-feeds/
packages/platform-irc
packages/schemas/schemas/
.DS_Store
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
