[submodule "examples/vendor/sockethub-client"]
	path = examples/vendor/sockethub-client
	url = git://github.com/sockethub/sockethub-client
[submodule "examples/vendor/angular-shared"]
	path = examples/vendor/angular-shared
	url = git://github.com/silverbucket/angular-shared
[submodule "doc/gh-pages"]
	path = doc/gh-pages
	url = git://github.com/sockethub/sockethub
	branch = gh-pages
