language: node_js
node_js:
  - 'lts/*'
  - 13
services: redis-server
sudo: false
script:
  - yarn run test && yarn run travis
install:
  - npm update npm -g && npm install -g lerna yarn && yarn run install
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
