language: node_js
node_js:
  - 8
  - 10
  - 12
services: redis
sudo: false
script:
  - npm run compliance
install:
  - npm update -g npm; npm install;
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
