language: node_js
node_js:
  - 8
  - 9
  - 10
services: redis
sudo: false
script:
  - npm run lint
  - npm test
install:
  - npm update -g npm; npm install;
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
