exports.config = {
  ENABLE_TLS: true, // it is stronlgly recommended that you leave TLS enabled
                    // unless your TLS needs are already taken care of via. a
                    // proxy, or you are running in a development environment.
  TLS_CERTS_DIR: '/path/to/tls',
  PORT: 9999,
  PROTOCOLS: [ 'sockethub', 'echo-protocol' ]
};