var PLATFORMS = [
  // location of platforms running, defaults to this host
  'dispatcher', 'email', 'xmpp', 'facebook', 'twitter', 'rss'
];

// number of worker threads to use (currently supports just one)
var NUM_WORKERS = 2;

var HOST = {
  ENABLE_TLS: false, // it is stronlgly recommended that you leave TLS enabled
                     // unless your TLS needs are already taken care of via. a
                     // proxy, or you are running in a development environment.
  TLS_CERTS_DIR: '/path/to/tls',
  PORT: 10550,
  MY_PLATFORMS: PLATFORMS // list of platforms this instance is responsible for
};

// settings for the "public facing" interface of sockethub
// commonly used when behind a proxy, with uri rewriting, or other similar
// scenarios.
var PUBLIC = {
  DOMAIN: "localhost",
  PORT: HOST.PORT,
  PATH: "/sockethub",
  TLS: HOST.ENABLE_TLS  // purely cosmetic, sockethub will not handle TLS certs,
                        // but will configure examples to use
                        // wss:// instead of ws://
};

var EXAMPLES = {
  SECRET: '1234567890',  // disable if running in production and/or you dont want people
                 // to be able to use the example applications
};

exports.config = {
  HOST: HOST, // host specific config
  PLATFORMS: PLATFORMS,  // all platforms supported
  NUM_WORKERS: NUM_WORKERS,
  PUBLIC: PUBLIC,
  EXAMPLES: EXAMPLES
};
