{
  "activity-streams": {
    "opts": {
      "specialObjs": [ "credentials" ]
    }
  },
  "examples": {
    "enabled": false,
    "secret": 1234567890
  },
  "service": {
    "port": 10550,
    "host": "localhost",
    "path": "/sockethub"
  },
  "kue": {
    "enabled": true,
    "port": 10549,
    "host": "localhost"
  },
  "log_file": "",
  "platforms": {
    "whitelist": [],
    "blacklist": []
  },
  "public": {
    "protocol": "http",
    "host": "localhost",
    "port": 10550,
    "path": "/"
  },
  "redis": {
    "host": "redis",
    "port": 6379
    // if defined overrides host + port pair, env: REDIS_URL
    // "url": "redis://user:password@hostname:port"
  },
  "workers": 1
}
