services:
    sockethub:
        build:
            context: .
            target: prod
        environment:
            - REDIS_URL=redis://redis:6379
            - EXAMPLES=${EXAMPLES:-false}
        ports:
            - "10550:10550"
        networks:
            - sockethub-net
        depends_on:
            - redis
    redis:
        image: redis
        ports:
            - "6379:6379"
        networks:
            - sockethub-net
    prosody:
        image: prosody/prosody:latest
        user: prosody
        ports:
          - "5222:5222"
        volumes:
            - ./integration/prosody:/etc/prosody
        entrypoint: [ "/bin/bash", "/etc/prosody/start.sh" ]
        networks:
            - sockethub-net

networks:
    sockethub-net:
