<!doctype html>
<html>
  <head>
    <title>Sockethub</title>
  </head>
  <body>
    <h1>Welcome to Sockethub</h1>
    <div>
      <ul class="examples">
        <li class="example"><a href="/examples/dummy">Dummy Example</a></li>
        <li class="example"><a href="/examples/feeds">Atom/RSS Feeds Example</a></li>
        <li class="example"><a href="/examples/irc">IRC Example</a></li>
        <li class="example"><a href="/examples/xmpp">XMPP Example</a></li>
      </ul>
    </div>
  </body>
</html>
