  <div data-twitter-nav></div>

  <!-- twitter post -->
  <div class="container">
    <h4>Post to Twitter</h4>

    <form name="twitterPost" class="form-horizontal" novalidate>
      <fieldset>

        <div class="control-group">
          <label for="from" class="control-label">Posting as:</label>
          <div class="controls">
            <input class="required input-xlarge" type="text" ng-model="config.data.username" name="from" disabled>
          </div>
        </div>

        <div class="control-group">
          <label for="body" class="control-label">Body:</label>
          <div class="controls">
            <textarea class="input-xlarge" name="body" rows="6" ng-disabled="sending || !config.exists()" ng-model="model.message.object.text"></textarea>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <button class="btn btn-primary" type="button" ng-click="post()" ng-disabled="sending || !formFilled() || !config.exists()">Post to Twitter</button>
          <span> &nbsp; <b>{{ model.sendMsg }}</b> </span>
          </div>
        </div>

      </fieldset>
    </form>
  </div>