  <div ng-controller="twitterNavCtrl">
    <ul class="nav nav-tabs">
     <li ng-class="navClass('twitter')">
      <a href="#/twitter">Settings</a>
    </li>
     <li ng-class="navClass('twitter/post')">
        <a href="#/twitter/post">Post</a>
      </li>
    </ul>
  </div>

  <div>
    <div class="modal-header">
      <h4>Twitter Settings</h4>
    </div>
    <div class="modal-body">
      <div style="font-size: 12px;">
      <p>In order for Sockethub to send an email, it needs the SMTP connection settings for your email provider. All information is encrypted and completely deleted after you navigate away from this page. No data is kept.</p>
      </div>
      <form name="settings" class="form-horizontal" ng-controller="settingsCtrl" novalidate>
        <fieldset>
          <div class="control-group">
            <label for="emailAddress" class="control-label">Email Address</label>
            <div class="controls">
              <input type="text" class="required input-xlarge" name="emailAddress" placeholder="Enter email address... eg. user@gmail.com" ng-model="config.emailAddress" required>
            </div>
          </div>

          <div class="control-group">
            <label for="username" class="control-label">Username</label>
            <div class="controls">
              <input type="text" class="required input-xlarge" name="username" placeholder="Enter username..." ng-model="config.username" required>
            </div>
          </div>

          <div class="control-group">
            <label for="password" class="control-label">Password</label>
            <div class="controls">
              <input type="password" class="required input-xlarge" name="password" placeholder="Enter password..." ng-model="config.password" required>
             </div>
           </div>

          <div class="control-group">
            <label for="smtpServer" class="control-label">SMTP Server</label>
            <div class="controls">
              <input type="text" class="required input-xlarge" name="smtpServer" placeholder="Enter SMTP server.." ng-model="config.smtpServer" required>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <button class="btn btn-primary" ng-click="save(config)" ng-disabled="settings.$invalid || saving">Submit</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

 </body>
</html>
