  <div ng-controller="twitterNavCtrl">
    <ul class="nav nav-tabs">
     <li ng-class="navClass('twitter')">
      <a href="#/twitter">Settings</a>
    </li>
     <li ng-class="navClass('twitter/post')">
        <a href="#/twitter/post">Post</a>
      </li>
    </ul>
  </div>

  <div>
    <div class="modal-header">
      <h4>Twitter Settings</h4>
    </div>
    <div class="modal-body">
      <div style="font-size: 12px;">
      <p>In order for Sockethub to post, it needs a access token from Twitter.</p>
      <p><a href="https://dev.twitter.com/apps">https://dev.twitter.com/apps</a></p>
      </div>
      <form name="settings" class="form-horizontal" ng-controller="twitterSettingsCtrl" novalidate>
        <fieldset>
          <div class="control-group">
            <label for="username" class="control-label">Username</label>
            <div class="controls">
              <input type="text" class="required input-xlarge" name="username" placeholder="Enter twitter username..." ng-model="config.username" required>
            </div>
          </div>


          <div class="control-group">
            <label for="consumer_key" class="control-label">Consumer Key</label>
            <div class="controls">
              <input type="text" class="required input-xlarge" name="consumer_key" placeholder="Enter consumer key..." ng-model="config.consumer_key" required>
            </div>
          </div>


          <div class="control-group">
            <label for="consumer_secret" class="control-label">Consumer Secret</label>
            <div class="controls">
              <input type="text" class="required input-xlarge" name="consumer_secret" placeholder="Enter consumer secret..." ng-model="config.consumer_secret" required>
            </div>
          </div>


          <div class="control-group">
            <label for="access_token" class="control-label">Access Token</label>
            <div class="controls">
              <input type="text" class="required input-xlarge" name="access_token" placeholder="Enter access token..." ng-model="config.access_token" required>
            </div>
          </div>


          <div class="control-group">
            <label for="access_token_secret" class="control-label">Access Token Secret</label>
            <div class="controls">
              <input type="text" class="required input-xlarge" name="access_token_secret" placeholder="Enter access token secret..." ng-model="config.access_token_secret" required>
            </div>
          </div>


          <div class="control-group">
            <div class="controls">
              <button class="btn btn-primary" ng-click="save(config)" ng-disabled="settings.$invalid || saving">Save</button>
              <span> &nbsp; <b>{{ model.submitMsg }}</b> </span>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

 </body>
</html>
