  <div ng-controller="rssNavCtrl">
    <ul class="nav nav-tabs">
     <li ng-class="navClass('rss')">
      <a href="#/rss">Fetch</a>
    </li>
    <li ng-class="navClass('rss/feeds')">
      <a href="#/rss/feeds">Feeds</a>
    </li>
    </ul>
  </div>

  <div class="page" ng-controller="rssFeedsCtrl">
    <div class="container-fluid">
      <div class="row-fluid">

        <div ng-repeat="f in feeds">
          <h1>{{ f.object.title }}</h1>
          <p>feed: <i>{{ f.actor.address }}</i></p>
          <p>article link: <i><a target="_blank" href="{{ f.object.link }}">{{ f.object.link }}</a><i></p>
          <div>{{ f.object.description }}</div>
        </div>

      </div>
    </div>
  </div>

