  <div data-rss-nav></div>

  <!-- rss fetch -->
  <div class="container" ng-controller="rssFetchCtrl">
    <h4>Fetch RSS Feeds</h4>

    <form name="rssFeeds" class="form-horizontal add-form" ng-submit="addTarget()" novalidate>
      <fieldset>
        <div class="control-group">
          <label for="to" class="control-label">Add a feed URL:</label>
          <div class="controls input-append">
            <input class="input-xxlarge" name="to" type="text" ng-model="model.targetAddress" ng-disabled="sending || !config.exists()" required>
          <button class="btn btn-primary" ng-click="addTarget()" ng-disabled="sending || !config.exists()">Add</button>
          </div>
        </div>
      </fieldset>
    </form>

    <form name="rssFetch" class="form-horizontal" novalidate>
      <fieldset>

        <div class="control-group">
          <label class="control-label">Feeds:</label>
          <div class="controls">
            <p></p>
            <ul>
              <li ng-repeat="t in model.message.target"> {{ t.address }} </li>
            </ul>
            <p></p>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <button class="btn btn-primary" type="button" ng-click="fetchRSS()" ng-disabled="sending || !formFilled() || !config.exists()">Fetch RSS</button>
          <span> &nbsp; <b>{{ model.sendMsg }}</b> </span>
          </div>
        </div>

      </fieldset>
    </form>
  </div>

