  <div data-irc-nav></div>

  <!-- irc chat -->
  <div class="container" ng-controller="ircChatCtrl">
    <div class="form-group" style="display: inline-block;">
      <label for="col-sm-2 connect"><h4>Chat on IRC</h4></label>
      <div class="col-sm-10">
        <button name="connect" class="btn btn-primary" type="button" ng-click="connect()" ng-disabled="!config.exists()">Connect</button>
      </div>
    </div>

    <div>
      <textarea name="console" rows="10" style="width: 750px; color: black;" ng-model="console.messages" wrap="soft" readonly>
      </textarea>
    </div>

    <form name="ircSend" role="form" class="form-horizontal" novalidate>
      <fieldset>

        <div class="form-group">
          <label for="send" class="col-sm-2 control-label">{{ config.data.channel }}:</label>
          <div class="col-sm-10">
            <input class="required form-control" style="width: 470px;" type="text" name="send" ng-model="model.message.object.text" ng-disabled="!config.exists()" required>

            <button class="btn btn-primary" ng-click="sendMessage()" ng-disabled="!formFilled() || !config.exists()">Send</button>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-10">
          <span> &nbsp; <b>{{ model.sendMsg }}</b> </span>
          </div>
        </div>

      </fieldset>
    </form>
  </div>

