  <div data-irc-nav></div>

  <!-- irc settings -->
  <div class="container">
    <h4>IRC Settings</h4>
    <div class="notes">
    </div>
    <form name="settings" role="form" class="form-horizontal" ng-controller="ircSettingsCtrl" novalidate>
      <fieldset>

        <div class="form-group">
          <label for="nick" class="col-sm-2 control-label">IRC nick</label>
          <div class="col-sm-10">
            <input type="text" class="required form-control" name="nick" placeholder="Enter IRC nick..." ng-model="config.nick" required>
          </div>
        </div>

        <div class="form-group">
          <label for="server" class="col-sm-2 control-label">Server</label>
          <div class="col-sm-10">
            <input type="text" class="required form-control" name="server" ng-model="config.server" required>
          </div>
        </div>

        <div class="form-group">
          <label for="port" class="col-sm-2 control-label">Port</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="port" ng-model="config.port" required>
          </div>
        </div>

        <div class="form-group">
          <label for="secure" class="col-sm-2 control-label">Secure</label>
          <div class="col-sm-10">
            <input type="checkbox" class="" name="secure" ng-model="config.secure">
          </div>
        </div>

        <div class="form-group">
          <label for="channels" class="col-sm-2 control-label">Channel</label>
          <div class="col-sm-10">
            <input type="text" class="required form-control" name="channels" placeholder="Enter a single channel.." ng-model="config.channel" required>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-10">
            <button class="btn btn-primary" ng-click="save(config)" ng-disabled="settings.$invalid || saving">Save</button>
            <span> &nbsp; <b>{{ model.sendMsg }}</b> </span>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

 </body>
</html>
