.navbar-default {
  height: 75px;
  padding-top: 10px;
  background-color: rgb(211, 245, 245);
  color: rgb(41, 41, 41);
}
li.active a {
  background-color: rgb(250,250,250) !important;
  border-radius: 9px;
}
.example {
  padding: 5px;
}

.add-form {
  padding: 10px 5px 0 0;
  border-bottom: 1px solid #dddddd;
}

.notes {
  font-size: 13px;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 10px;
}

.tweets {
  min-width: 500px;
  text-align: center;
}

.faded {
  color: #7777777;
}

ul {
  list-style: none;
}

.hashtags {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
}

.links {
  display: block;
}

p {
  font-size: 16px;
}