<!DOCTYPE html>
<html ng-app="emailExample">
 <head>
  <title>Email - Sockethub Examples</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../res/css/main.css" />
  <link rel="stylesheet" href="../res/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../res/css/bootstrap-responsive.min.css" />
 </head>
 <body>

  <nav>
    <div class="navbar" ng-controller="navCtrl">
      <div class="navbar-inner">
        <a class="brand">Sockethub Email Example</a>
        <ul class="nav">
          <li><a href="#" ng:click="popup.emailSettings()">SMTP Settings</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="page" ng-controller="emailCtrl">
    <div class="container-fluid">
      <div class="row-fluid">

        <div>
          <p>FROM: {{ config.data.emailAddress }}</p>
        </div>

        <div>
          <p class="emailAddress">TO: <span ng-repeat="t in model.message.target"> {{ t.address }}, </span></p>
        </div>

        <form name="email" class="form-horizontal" ng:submit="addTarget()" novalidate>
          <div class="input-append">
            <input class="input-xxlarge" type="text" ng-model="model.targetAddress" ng-disabled="sending || !config.exists()" required>
            <button class="btn btn-primary" type="button" ng:click="addTarget()" ng-disabled="sending || !config.exists()">Add</button>
          </div>
        </form>

        <div>
          <p>SUBJECT:</p>
          <input class="input-xxlarge" type="text" ng-model="model.message.object.subject" ng-disabled="sending || !config.exists()" required>
        </div>

        <div>
          <p>BODY</p>
          <textarea class="input-xxlarge" rows="6" ng-disabled="sending || !config.exists()" ng-model="model.message.object.text"></textarea>
        </div>

        <div class="control-group">
          <div class="controls">
            <button class="btn btn-primary" type="button" ng-click="sendEmail()" ng-disabled="sending || !formFilled() || !config.exists()">Send Email</button>
            <p>{{ model.sendMsg }}</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- settings modal window -->
  <div id="modalSettingsEmail" class="modal hide fade">
    <div class="modal-header">
      <h4>SMTP settings</h4>
    </div>
    <div class="modal-body">
      <p>In order for Sockethub to send an email, it needs the SMTP connection settings for your email provider</p>
      <p>All information is encrypted and completely deleted after you navigate away from this page. No data is kept.</p>
      <form name="settings" class="form-horizontal" ng-controller="settingsCtrl" novalidate>
        <fieldset>
          <div class="control-group">
            <label for="emailAddress" class="control-label">Email Address</label>
            <div class="controls">
              <input type="text" class="required input-xlarge" name="emailAddress" placeholder="Enter email address... eg. user@gmail.com" ng-model="config.emailAddress" required>
            </div>
          </div>

          <div class="control-group">
            <label for="username" class="control-label">Username</label>
            <div class="controls">
              <input type="text" class="required input-xlarge" name="username" placeholder="Enter username..." ng-model="config.username" required>
            </div>
          </div>

          <div class="control-group">
            <label for="password" class="control-label">Password</label>
            <div class="controls">
              <input type="password" class="required input-xlarge" name="password" placeholder="Enter password..." ng-model="config.password" required>
             </div>
           </div>

          <div class="control-group">
            <label for="host" class="control-label">Host</label>
            <div class="controls">
              <input type="text" class="required input-xlarge" name="host" placeholder="Enter host..." ng-model="config.host" required>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <button class="btn btn-primary" ng-click="save(config)" ng-disabled="settings.$invalid || saving">Submit</button>
            </div>
          </div>
        </fieldset>
      </form>
      <p></p>
    </div>
    <div class="modal-footer"></div>
  </div>

  <script src="../connect-config.js"></script>
  <script src="../res/js/angular-1.0.6.min.js"></script>
  <script src="../res/js/jquery-1.9.1.min.js"></script>
  <script src="../res/js/bootstrap.min.js"></script>
  <script src="../res/js/promising.js"></script>
  <script src="../res/js/sockethub-client.js"></script>
  <script src="../res/js/ngSockethubClient.js"></script>
  <script src="email.js"></script>
 </body>
</html>
