var tpl = require('./templates');
/**
 * Variable: verbs
 *
 * Contains all the schema definitions for any custom verb you want to
 * use in a platform.
 *
 * So any custom verbs, regardless of platform, are defined here first, 
 * then referenced in their platform in the schemas/platforms.local.js
 *
 */
var verbs = {
  "fish": {
    "schema": {
      "type": "object",
      "additionalProperties": true,
      "required": ['object'],
      "properties": {
        "object": {
          "type": "object",
          "required": ['test', 'bait', 'lure'],
          "properties": {
            "test": {
              "type": "string"
            },
            "bait": {
              "type": "string"
            },
            "lure": {
              "type": "string"
            }
          }
        }
      }
    }
  }
};
module.exports = verbs;
