name: Compliance
on:
  pull_request:

jobs:
  compliance:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 16, 18 ]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install -g pnpm
      - run: pnpm install
      - run: pnpm compliance

  integration:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 16, 18 ]

    steps:
      - run: sudo chown -R $USER:$USER ${{ github.workspace }}
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          clean: false
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install -g pnpm
      - run: npm install -g karma
      - run: pnpm install
      - run: docker compose build --build-arg node_version=${{ matrix.node-version }}

      - run: pnpm integration:docker:build
      - run: sleep 5

      - name: Verify Sockethub is listening
        run: nc -zv localhost 10550

      - run: pnpm integration:run

      - name: Print Docker logs
        if: always()
        run: pnpm integration:docker:logs
