name: Integration
on:
  pull_request:

jobs:

  redis:
    runs-on: ubuntu-latest

    steps:
      - run: sudo chown -R $USER:$USER ${{ github.workspace }}
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Use Bun latest
        uses: oven-sh/setup-bun@v2.0.1
        with:
          bun-version: latest
      - run: bun install
      - run: bun run build

      - run: bun run docker:start:redis
      - run: sleep 5

      - name: Verify Redis is listening
        run: nc -zv localhost 6379

      - name: Redis Integration Tests
        run: bun run integration:redis:run

  process:
    runs-on: ubuntu-latest

    steps:
      - run: sudo chown -R $USER:$USER ${{ github.workspace }}
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Use Bun latest
        uses: oven-sh/setup-bun@v2.0.1
        with:
          bun-version: latest
      - run: bun install
      - run: bun run build

      - run: bun run docker:start:redis
      - run: bun run docker:start:xmpp
      - run: sleep 5

      - name: Verify Redis is listening
        run: nc -zv localhost 16379

      - name: Verify XMPP is listening
        run: nc -zv localhost 8222

      - name: Verifying Child Process Termination
        run: bun run integration:process:run

      - name: View running processes
        if: always()
        run: ps ax | grep sockethub

  browser:
    runs-on: ubuntu-latest

    steps:
      - run: sudo chown -R $USER:$USER ${{ github.workspace }}
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Use Bun latest
        uses: oven-sh/setup-bun@v2.0.1
        with:
          bun-version: latest
      - run: bun install
      - run: bun run build

      - run: docker compose build --build-arg bun_version=latest

      - run: bun run docker:start
      - run: sleep 5

      - name: Verify Sockethub is listening externally
        run: nc -zv localhost 10550

      - name: Verify Redis is listening
        run: nc -zv localhost 6379

      - name: Verify XMPP is listening
        run: nc -zv localhost 5222

      - name: Basic Browser Integration Tests
        run: bun run integration:browser:basic:run

      - name: Sockethub Logs - Basic
        if: always()
        run: docker logs sockethub-sockethub-1

      - run: echo "START_TIME=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_ENV

      - name: Multiclient XMPP Integration Tests
        run: bun run integration:browser:multiclient:run

      - name: Sockethub Logs - Multiclient
        if: always()
        run: docker logs --since "${{ env.START_TIME }}" sockethub-sockethub-1
