name: Integration
on:
  pull_request:

jobs:

  redis:
    runs-on: ubuntu-latest

    steps:
      - run: sudo chown -R $USER:$USER ${{ github.workspace }}
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Use Bun latest
        uses: oven-sh/setup-bun@v2.0.1
        with:
          bun-version: latest
      - run: bun install
      - run: bun run build

      - run: bun run docker:start:redis
      - run: sleep 5

      - name: Verify Redis is listening
        run: nc -zv localhost 6379

      - name: Redis Integration Tests
        run: bun run integration:redis

  process:
    runs-on: ubuntu-latest

    steps:
      - run: sudo chown -R $USER:$USER ${{ github.workspace }}
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Use Bun latest
        uses: oven-sh/setup-bun@v2.0.1
        with:
          bun-version: latest
      - run: bun install
      - run: bun run build

      - run: bun run docker:start:redis
      - run: bun run docker:start:xmpp
      - run: sleep 5

      - name: Verify Redis is listening
        run: nc -zv localhost 6379

      - name: Verify XMPP is listening
        run: nc -zv localhost 5222

      - name: Verifying Child Process Termination
        run: bun run integration:process

      - name: View running processes
        if: always()
        run: ps ax | grep sockethub

  browser:
    runs-on: ubuntu-latest

    steps:
      - run: sudo chown -R $USER:$USER ${{ github.workspace }}
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Use Bun latest
        uses: oven-sh/setup-bun@v2.0.1
        with:
          bun-version: latest
      - run: bun install
      - run: bun run build

      - run: docker compose build --build-arg bun_version=latest

      - run: bun run docker:start
      - run: sleep 5

      - name: Verify Sockethub is listening externally
        run: nc -zv localhost 10550

      - name: Verify Redis is listening
        run: nc -zv localhost 6379

      - name: Verify XMPP is listening
        run: nc -zv localhost 5222

      - name: Basic Browser Integration Tests
        run: XMPP_HOST=prosody bun run integration:browser:basic

      - name: Sockethub Logs - Basic
        if: always()
        run: docker logs sockethub-sockethub-1

      - run: echo "START_TIME=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_ENV

      - name: Multiclient XMPP Integration Tests
        run: XMPP_HOST=prosody bun run integration:browser:multiclient

      - name: Sockethub Logs - Multiclient
        if: always()
        run: docker logs --since "${{ env.START_TIME }}" sockethub-sockethub-1

      - run: echo "START_TIME=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_ENV

      - name: Reconnection XMPP Integration Tests
        run: XMPP_HOST=prosody bun run integration:browser:reconnection

      - name: Sockethub Logs - Reconnection
        if: always()
        run: docker logs --since "${{ env.START_TIME }}" sockethub-sockethub-1

      - run: echo "START_TIME=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_ENV

      - name: Resource Clash XMPP Integration Tests
        run: XMPP_HOST=prosody bun run integration:browser:resourceclash

      - name: Sockethub Logs - Resource Clash
        if: always()
        run: docker logs --since "${{ env.START_TIME }}" sockethub-sockethub-1
